.footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    height: 5vh;
    font-weight: bold;
    color: gray;
}

.typingarea {
    color: white;
}