.navigationbar {
    background-color: #20232a !important;
}


.logo-btn {
    border-radius: 5px !important;
    background-color: red !important;
    border-color: black !important;
    border-width: 2px !important;
    margin-right: 10% !important;
}

.navbar-button {
    color: white !important;
}

.login-btn {
    background-color: blue !important;
}


.navbar-container {
    display: flex !important;
    flex-direction: row !important;
    width:100% !important;
    padding-right: 1%;
}

.highlight-border {
    border-color: whitesmoke;
}


.navbar-left {
    width:50% !important;
    display: flex;
    justify-content: left !important;
}

.with-margin {
    margin-left: 4px !important;
    margin-right: 4px;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}


.navbar-right {
    width:50% !important;
    display: flex;
    justify-content: right !important;
}